  
 .header {
    overflow: hidden;
    background-color: #f1f;
    padding: 20px 10px;
  }
  
   
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  
  .text {
    color: #f2f5f2;
    font-size: 200px;
    padding: 8px 12px;
    position: absolute;
    bottom: -500px;
    width: 100%;
    text-align: center;
  }
  
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
 
  .header-right {
    float: right;
  }
  
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

ul{
    flex: 1;
    text-align: right;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: -3px;
    width: 20%;
}
ul li a{
    text-decoration: none;
    color:#000;
    padding: 0 50px;
    position: relative;
    width: 20%;
}
  
 
.heading
{
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
}
 
  img {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 150px; 
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  .navbar {
    top: 60px;
  }
  </style>









                                                                                                                                                                                                                                                                                                 